.root {
  padding: 3vh 10vw;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f8f8f8;
  color: #333333;
  font-size: 22px;
}

.section {
  text-align: left;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1000px;
}

h1 {
  text-align: center;
}

h3 {
  margin: 10px 0 0 0;
}

p {
  color: #333333;
}

hr {
  border: #333333;
}
